@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif !important;
}

/* navbar */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #006fb1 !important;
}


/* paginas internas */

header.masthead-internas {
    position: relative;
    background-color: #343a40;
    background: url("../img/ost-internas.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead-internas .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}



/* isos */

header.masthead-iso {
    position: relative;
    background-color: #343a40;
    background: url("../img/ost-iso.png") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead-iso .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}


/* contacto */

header.masthead-contacto {
    position: relative;
    background-color: #343a40;
    background: url("../img/ost-contacto.jpg") no-repeat center center;
    background-size: cover;
    height: 40vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead-contacto .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}


/* call action */




.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../img/call-action.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

/* blog */



header.masthead-blog{
    position: relative;
    background-color: #343a40;
    background: url("../img/info.jpg") no-repeat center center;
    background-size: cover;
    height: 40vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead-blog.overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}


/* personalizacion */

.dropdown-item:focus, .dropdown-item:hover {
    /* color: white; */
    color: #da2c46 !important;
    text-decoration: none;
    background-color: #ffffff !important;
    /* background-color: #000080!important; */
}




/* color  */

.bg-default{
    background-color: #fcfbf7 !important;
}

/* footer */

footer.footer {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
