header.masthead-internas {
    position: relative;
    background-color: #343a40;
    background: url("../img/nosotros-ost.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead-internas .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}


/* normas iso */

header.masthead-iso {
    position: relative;
    background-color: #343a40;
    background: url("../img/normas-iso.png") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead-iso .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
